<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="context-prefix" content="{{contextPrefix}}">
    <title>Shutdown</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/emissary.css"/>
  </head>

  <body>
  <header></header>
  <main class="container">
      <div id="czar">
          <p class="triangle-right left" id="czar-message">{{message}}</p>
      </div>
  </main>

  <script src="/js/lib/jquery.min.js"></script>
  <script src="/js/lib/popper.min.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/emissary.js" type="text/javascript" ></script>

  <script>
    $(document).ready(function () {
        var contextPrefix = $('meta[name="context-prefix"]').attr('content') || '';
        doPost(contextPrefix + '/api/shutdown', 'czar-message');
    });
  </script>

  </body>
</html>
